
body {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 500;
    margin: 0;
    color: #677389;
    background-color: #ffffff;
}

/**********************************************/
/*              Header / Menubar              */
/**********************************************/

/* ... Hide mobile hamburger menu ... */
.menu, .menu-icon, .menu a, .menu-icon img, .close-icon, .close-icon a, .download-button-mobile, .download-button-mobile a,
.download-button-mobile img {
    display: none;
}


header {
    background-color: rgba(247, 247, 247, 0.32);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 18px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #677389;
}

nav ul li a:hover {
    text-decoration: none;
    color: #262f38;
}


.download-button a {
    background-color: #4CAFEB;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
}

.download-button img {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(158deg) brightness(204%) contrast(104%);
}

.download-button a:hover {
    background-color: #6ccbea;
}

/**********************************************/
/*              Landing Content               */
/**********************************************/
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 650px;
    margin-left: 100px;
}

.text-section {
    flex: 1;
    /*padding: 125px 80px 50px 100px;*/
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-section h1 {
    font-size: 58px;
    line-height: 1;
    letter-spacing: -2px;
    color: #2d2d2d;
}

.text-section h1 span {
    background: -webkit-radial-gradient(circle, #e97d9c 0%, #ae9ae6 50%, #6ccbea 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-section p {
    font-weight: 400;
    font-size: 20px;
    color: #677389;
    margin-top: 20px;
    margin-right: 80px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5px;
    overflow: unset;
}

.image-section img {
    max-width: 110%;
    width: 110%;
    height: 650px;
    /*max-height: 650px;
    height: max-content;*/
    object-fit: cover;
    object-position: top;
}


.buttons-section {
    margin-top: 20px;
}

.buttons-section a {
    display: inline-block;
    padding: 16px 40px;
    border-radius: 7px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.download-button {
    background-color: #4CAFEB;
    color: #ffffff;
}


.learn-more-button {
    background-color: #ffffff;
    color: #4CAFEB;
    border: 1px solid rgba(23, 22, 22, 0.22);
}

.download-button:hover {
    background-color: #6ccbea;
}

.learn-more-button:hover {
    background-color: rgba(108, 203, 234, 0.16);
}


/**********************************************/
/*                Featured in                 */
/**********************************************/
.featured-section {
    background-color: rgba(230, 241, 247, 0.55);
    /*background-color: #f2f5f9;*/
    padding: 120px 100px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;

}

.featured-text {
    flex: 1;
    font-weight: 700;
    font-size: 25px;
    color: #21486b;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.logos img {
    height: 55px;
    width: auto;
    margin-right: 20px;
    padding-left: 10px;
}

/**********************************************/
/*             Additional Content             */
/**********************************************/
.additional-content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 110px;
}

.image-container-left,
.image-container-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.image-container-left img,
.image-container-right img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.text-container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

.text-container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.text-container-left h2,
.text-container-right h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    color: #2d2d2d;
}

.text-container-left span,
.text-container-right span {
    background: linear-gradient(45deg, #e97d9c, #ae9ae6, #6ccbea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
}


.text-container-left p,
.text-container-right p {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    color: #677389;
    letter-spacing: 0.035rem;
}

.button-section {
    margin-top: 20px;
}

.button-section a {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 7px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.roadmap-button {
    background: linear-gradient(45deg, #e97d9c, #ae9ae6, #6ccbea);
    color: #ffffff;
}

.roadmap-button:hover {
    background: linear-gradient(45deg, #e97d9c 25%, #ae9ae6, #6ccbea 75%);
    color: #ffffff;
}

/**********************************************/
/*              Vertical Content              */
/**********************************************/
.dark-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #95a0b4;
    color: #ffffff;
    padding: 70px 110px;
    min-height: 250px;
    max-height: 250px;
    margin-top: 200px;
    margin-bottom: 225px;
}

.dark-section img {
    height: auto;
    max-width: 350px;
    flex: 1;
    margin-right: 50px;
    border-radius: 12px;
}

.dark-section .text-content {
    flex: 1;
}

.dark-section p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.35;
    font-weight: 400;
}


/**********************************************/
/*                   Footer                   */
/**********************************************/

.footer {
    background-color: #f2f5f9;
    color: #333;
    padding: 60px 150px;
    justify-content: center;
    align-items: center;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    align-content: center;
    align-items: center;
}

.footer-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 6.2rem;
    margin-right: 2.6rem;
    white-space: nowrap;
}

.footer-section h3 {
    background: -webkit-radial-gradient(circle, #e97d9c 10%, #ae9ae6 50%, #6ccbea 90%);
    /*background: linear-gradient(220deg, #e97d9c, #ae9ae6, #6ccbea);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-right: 20px;
    margin-left: 0;
}


.links ul {
    list-style: none;
    padding: 0;
    border-bottom: none;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links ul li a {
    text-decoration: none;
    color: #677389;
    font-size: 16px;
    font-weight: 400;
}

.footer-section.links ul li a:hover {
    color: #262f38;

}

.footer-bottom {
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid #cccccc;
    font-size: 0.8rem;
}

.footer-bottom a {
    color: #333;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #666;
    text-decoration: none;
}


/**********************************************/
/*              Wide Screen Mode              */
/**********************************************/
@media only screen and (min-width: 2200px) {
    .logo {
        margin-left: 20rem;
    }

    .download-button {
        margin-right: 20rem;
    }

    .image-section img {
        max-width: 110%;
        width: 110%;
        height: 650px;
        /*max-height: 650px;
        height: max-content;*/
        object-fit: cover;
        object-position: top;
    }

    .featured-text {
        margin-left: 20.5rem;
        margin-right: 14.5rem;
        padding: 0;
        white-space: nowrap;
    }

    .logos {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        margin-left: 0.5rem;
        margin-right: 20.5rem !important;
        white-space: nowrap;
    }

    .logos img {
        height: 55px;
        width: auto;
        margin-right: 80px;
        padding-left: 10px;
    }

    .content {
        margin-left: 26rem;
        margin-right: 0;
    }

    .additional-content {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .dark-section {
        min-height: 250px;
        max-height: 250px;
    }

    .dark-section img {
        height: auto;
        max-width: 350px;
        border-radius: 12px;
        margin-left: 20rem;
        margin-right: 2rem;
    }

    .dark-section .text-content {
        flex: 1;
        margin-left: 30px !important;
        margin-right: 20rem !important;
    }

    .footer {
        padding: 60px 35rem;
    }

    .footer-section {
        margin-left: 4.6rem;
        margin-right: 2.6rem;
    }

}

/**********************************************/
/*           Ultra Wide Screen Mode           */
/**********************************************/
@media only screen and (min-width: 3200px) {
    .logo {
        margin-left: 35rem;
    }

    .download-button {
        margin-right: 35rem;
    }

    .image-section img {
        margin-right: 41.5rem
    }

    .featured-text {
        margin-left: 35.5rem;
        margin-right: 35rem;
    }

    .logos {
        margin-left: 0.5rem;
        margin-right: 35.5rem !important;
    }


    .content {
        margin-left: 42rem;
        margin-right: 0;
    }

    .additional-content {
        margin-left: 35rem;
        margin-right: 35rem;
    }

    .dark-section img {
        margin-left: 35rem;
        margin-right: 2rem;
    }

    .dark-section .text-content {
        margin-left: 10rem !important;
        margin-right: 20rem !important;
    }
}

/**********************************************/
/*                 Mobile Mode                */
/**********************************************/
@media only screen and (max-width: 1000px) {
    /* Hide desktop elements */
    nav, .download-button {
        display: none;
    }

    /* Mobile hamburger menu  */
    .menu, .menu-icon, .menu a, .menu-icon img, .close-icon, .close-icon a, .download-button-mobile, .download-button-mobile a,
    .download-button-mobile img {
        display: block;
    }

    body {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center; /* Zentriert den gesamten Inhalt horizontal */
        justify-items: center;
        justify-content: center; /* Zentriert den gesamten Inhalt vertikal */
        padding: 0; /* Hinzufügen von Padding, um den oberen Teil der Website nicht abzuschneiden */
        margin: 0; /* Entfernt die Standardränder des Body-Elements */
        overflow-x: hidden;
    }


    header {
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .logo {
        margin-left: 30px;
        justify-content: flex-end;
    }


    .menu-icon {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }

    .menu-icon img {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .menu-icon img:hover {
        height: 30px;
        width: 30px;
        cursor: pointer;
        filter: invert(46%) sepia(35%) saturate(254%) hue-rotate(180deg) brightness(129%) contrast(88%);
    }

    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #f7f7f7;
        z-index: 1000;
        padding: 70px;
        box-sizing: border-box;
    }


    .menu a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #677389;
        padding: 20px 0;
        font-size: 24px;
    }

    .menu a img {
        margin-right: 20px;
        margin-left: 10px;
    }

    .menu a:hover {
        color: #333333;
    }

    .menu a.download-button-mobile {
        color: #ffffff;
    }

    .download-button-mobile {
        display: block;
        background: linear-gradient(45deg, #e97d9c 20%, #ae9ae6, #6ccbea 80%);
        color: #ffffff;
        padding: 20px 20px;
        text-decoration: none;
        border-radius: 10px;
        text-align: center;
        margin-top: 30px;
    }

    .download-button-mobile:hover {
        background: linear-gradient(45deg, #e97d9c 30%, #ae9ae6, #6ccbea 70%);
    }


    .download-button-mobile img {
        margin-left: 20px;
        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(158deg) brightness(204%) contrast(104%);
    }


    .close-icon {
        display: flex;
        justify-content: flex-end;
    }

    .close-icon img {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    /* Landing Content */
    .content {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        padding: 0;
        margin: 25px 0 0 0;
    }

    .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .image-section img {
        padding: 0;
        margin: 0;
        height: 350px;
        object-position: top;
        object-fit: cover;
        width: 100vw;

    }

    .text-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .text-section h1 {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.25;
    }

    .text-section h1 span {
        letter-spacing: -2px;
        padding: 0;
        margin: 0;
    }

    .text-section p {
        font-size: 16px;
        line-height: 1.25;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
    }

    .buttons-section {
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .buttons-section a {
        display: inline-block;
        width: 60%;
        height: 18px;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-self: center;
        border-radius: 7px;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .download-button {
        align-self: center;
        justify-content: center;
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-bottom: 10px;
    }

    .learn-more-button {
        align-self: center;
        justify-content: center;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    /* Featured section */
    .featured-section {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        width: 100%;
    }

    .featured-text {
        flex: none;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #21486b;
    }

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .logos img {
        height: 45px;
        width: auto;
        padding-top: 15px;
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 0;
    }


    /* Additional content */
    .additional-content {
        flex-direction: column;
        padding: 10px 30px;
    }

    .image-container-left,
    .image-container-right {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    .text-container-left,
    .text-container-right {
        padding: 0;
        margin: 0 0;
        text-align: left !important;

    }

    .text-container-left h2,
    .text-container-right h2 {
        margin-bottom: 2px;
        margin-top: 10px;
        text-align: left !important;
    }

    .text-container-left p,
    .text-container-right p {
        margin-top: 8px;
        margin-bottom: 15px;
        text-align: left !important;
    }

    .button-section {
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
    }

    .button-section a {
        margin: 0;
        width: 80%;
        max-width: 50vw;
    }

    /* Dark section */
    .dark-section {
        padding: 10px 30px;
        margin-top: 50px;
        margin-bottom: 0;
        min-height: 250px;
        max-height: 500px;

    }

    .dark-section img {
        display: none;
    }

    .dark-section .text-content {
        flex: 1;
    }

    .dark-section p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.35;
        font-weight: 400;
        height: 100%;
    }

    /* Footer */
    .footer {
        background-color: #f2f5f9;
        color: #333;
        padding: 60px 0; /* Entfernen des linken und rechten Abstands */
        width: 100%; /* Volle Breite des Footers */
        box-sizing: border-box; /* Elementgröße umfassen */
        text-align: center;
    }

    .footer-content {
        max-width: 100%; /* Volle Breite für den Inhalt */
        width: 100%; /* Volle Breite für den Inhalt */
        padding: 0 70px; /* Horizontaler Abstand für den Inhalt */
        box-sizing: border-box; /* Elementgröße umfassen */
        margin-bottom: 50px;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
        white-space: nowrap;
        margin: 0 auto;
    }


    .footer-bottom {
        text-align: center;
        padding-top: 40px;
        border-top: 1px solid #cccccc;
        font-size: 0.9rem;
        width: 80%; /* Volle Breite für den Footer-Bottom */
        box-sizing: border-box; /* Elementgröße umfassen */
        align-self: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
    }

    .footer-section h3 {
        font-weight: 400;
        font-size: 1.1rem;
        letter-spacing: 2px;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        text-align: left;
    }

    .links {
        padding: 0 0 0 0;
        border-bottom: none;
    }

    .links ul {
        padding: 0;
        border-bottom: none;
    }

    .footer-section.links ul li {
        margin-bottom: 10px;
    }

    .footer-section.links ul li a {
        text-decoration: none;
        color: #677389;
        font-size: 16px;
        font-weight: 400;
    }
}

/**********************************************/
/*                  Dark Mode                 */
/**********************************************/
@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #1f1f1f;
    }

    /* Header / Menubar */
    header {
        background-color: rgba(10, 10, 15, 0.5);
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    }

    nav ul li a {
        color: rgba(255, 255, 255, 0.90);
    }

    nav ul li a:hover {
        color: rgba(179, 179, 179, 0.84);
    }

    /* Hamburger Menu */
    .menu {
        background-color: #1a1a1a;
        color: #ffffff;
    }

    .menu a {
        color: #ffffff;
    }

    .menu a:hover {
        color: #b3b3b3;
    }

    .menu a img {
        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(180deg) brightness(204%) contrast(104%);
    }

    .menu-icon img {
        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(180deg) brightness(204%) contrast(104%);
    }

    .download-button-mobile {
        color: white !important;
        padding: 20px !important;
        margin-left: -19px;
        margin-right: -19px;
    }


    .close-icon img {
        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(180deg) brightness(204%) contrast(104%);
    }

    .text-section h1 {
        color: #e8e8e8;
    }

    .text-section p {
        color: #b3b3b3;
    }

    .download-button a:hover {
        background-color: rgb(48, 120, 164);
    }


    .learn-more-button {
        background-color: rgba(23, 22, 22, 0.22);
        color: #4CAFEB;
        border: 1px solid #ffffff;
    }

    .download-button:hover {
        background-color: rgb(48, 120, 164);
    }

    .learn-more-button:hover {
        background-color: rgba(64, 165, 220, 0.36);
        color: #e0e0e0;
    }

    .featured-section {
        background-color: rgb(33, 55, 68);
    }

    .featured-text {
        color: #e0e0e0;
    }

    /* Additional Content */
    .additional-content {
        background-color: #1f1f1f;
    }

    .text-container-left h2,
    .text-container-right h2,
    .text-container-left span,
    .text-container-right span {
        color: #e0e0e0;
    }

    .text-container-left p,
    .text-container-right p,
    .dark-section p {
        color: #b3b3b3;
    }

    .button-section a {
        background: linear-gradient(45deg, #e97d9c, #ae9ae6, #6ccbea);
        color: #ffffff;
    }

    .button-section a:hover {
        background: linear-gradient(45deg, #e97d9c 25%, #ae9ae6, #6ccbea 75%);
    }

    /* Vertical Content */
    .dark-section {
        background-color: #2e2e2e;
    }

    /* Footer */
    .footer {
        box-shadow: 2px -2px 5px rgba(255, 255, 255, 0.1);
        background-color: rgba(10, 10, 15, 0.5);
        color: #b3b3b3;
    }

    .footer-section.links ul li a {
        color: #b3b3b3;
    }

    .footer-section.links ul li a:hover {
        color: #727171;
    }

    .footer-bottom a {
        color: #b3b3b3;
    }

    .footer-bottom a:hover {
        color: #8c8c8c;
    }
}

